[user]
    email = brandoncoffman.cs@gmail.com
    name = Brandon Coffman
[log]
    color = true
[difftool]
    prompt = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w'
[color]
    ui = auto
    branch = always
    interactive = always
    status = always
[alias]
    s = status --short --branch
    l = whatchanged --date=format:'%Y-%m-%d %H:%M' --graph --decorate
    d = diff
[core]
    excludesfile = ~/.gitignore
    editor = nvim
[push]
    default = matching
[alias]
    unstage = reset -q HEAD --
    amend = commit --amend
    precommit = diff --cached --diff-algorithm=minimal -w
    unmerged = diff --name-only --diff-filter=U
    stashes = stash list --pretty=format:'%C(bold magenta)%gd%C(bold yellow): %C(cyan)%s'
    relative = log --decorate --graph --abbrev-commit --date=relative
    graph = log --graph --date=short --pretty=format:'%C(white)%h%C(reset) %C(bold magenta)%ad %C(bold yellow)|%C(reset) %C(yellow) %s %C(bold cyan)[%an]%C(reset)%C(blue)%d%C(reset)'
    branches = log --color --graph --oneline --decorate --simplify-by-decoration --all

[color "diff"]
    meta = magenta bold
    frag = blue bold
    old = red bold
    new = green bold
